body{
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    animation: shrink 5s infinite alternate;
    width: 100%;
}
* {
  box-sizing: border-box;
}
hr {
  border: 10px solid #00497b;
  margin-bottom: 0px;
}
h1,h3{
    color: white;    
}
.headings{
	border-radius: 0px;
    background-color: #00497b;
    padding: 0px;
    width: 100%;
}

div{
	border-radius: 50px;
  width: 100%;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    
    background-color: #ccdce3;
    border-radius: 5px;
    margin-bottom: 5px;
}

input{
    width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
select{
    width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=submit],.confirm{
    border: 5px;
    color : white;
    font-weight: bold;
    border-style: none;
    border-radius: 0px; 
    background-color:#00497b;
    width: 200px;
    height: 50px;
}
form,.centerdiv{
    width: 50%;
    background: #f6f6f6;
    border: 3px solid #f6f6f6;
}
label{
    float: left;
    font-weight: bold;
}
::placeholder { 
    color: #4d9412;
    opacity: 1; /* Firefox */
  }

button{
  border: 5px;
    color : white;
    font-weight: bold;
    border-style: none;
    border-radius: 0px; 
    background-color:#00497b;
    width: 70px;
    height: 30px;

}

